[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ruby-debugger"]
	path = bundle/ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/textile.vim"]
	path = bundle/textile.vim
	url = git://github.com/timcharper/textile.vim.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/git"]
	path = bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/align"]
	path = bundle/align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/shoulda"]
	path = bundle/shoulda
	url = git://github.com/tsaleh/vim-shoulda.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/tsaleh/vim-supertab.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tsaleh/vim-tcomment.git
